body {
  margin: 0 auto;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: SeaShell;
  background-color: Black;
  opacity: 0.9;
  text-align: center;
}

header {
  height: 69px;
  border-bottom: 1px solid SeaShell;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav span {
  padding: 10px;
}

a {
  color: SeaShell;
}
